
body {
    background-color: lightgrey;
}

.container {
    width: 80%
}

.login_container {
    width: 220px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}